E-PPER 2017.4.1 C부문(Python 3로 풀이)

1번

In [ ]:
import sys
n = int(sys.stdin.readline())
for i in range(1,n+1):
    if i%2 == 0 and i%3 == 0:
        print(i, end = ' ')

2번

In [ ]:
m,d = map(int, input().split())
days = [31,28,31,30,31,30,31,31,30,31,30,31]
day = d-1
for i in range(m-1):
    day += days[i]
date = ['일','월','화','수','목','금','토']
print(date[day%7]+'요일')

3번

이 문제를 풀 때 입력값을 sys.stdin.readline()으로 받았더니 답이 나오지 않았는데 보니까 마지막에'/n'이 붙어서 함께 입력되었기 때문이었다

In [ ]:
import sys
n = int(sys.stdin.readline())
name = [input() for _ in range(n)]
for i in range(n):
    ans = str(name[i])+'!'
    print('Hello, %s' %(ans))

4번


```
if 3 or 6 or 9 in [int(k) for k in str(i)
```
라고 했는데 답이 전부 다 있다고 나왔다. 아래처럼 바꿔주니 답은 맞았지만 위의 코드가 뭐가 잘못된걸까

In [ ]:
s,e = map(int, input().split())
count = 0
for i in range(s, e+1):
    if 3 in [int(k) for k in str(i)]:count+= 1
    elif 6 in [int(k) for k in str(i)]:count += 1
    elif 9 in [int(k) for k in str(i)]:count += 1
print(count)

5번

전치 행렬을 구하는 문제였다. 보통 시뮬레이션 문제에서 이런 식으로 뒤집는 경우가 있는데 이런경우는 1차원 리스트로 만들어 놓고 시작하는 것이 훨씬 낫다.

In [ ]:
import sys
m,n = map(int, sys.stdin.readline().split())
board = []
for _ in range(m):board += list(map(int, sys.stdin.readline().split())) 
for i in range(0,len(board),m):
    temp = board[i:i+m]
    for i in temp:print(i,end = ' ')
    print()

6번

In [ ]:
import sys
s,y,r,n = map(int, sys.stdin.readline().split())
num = list(map(int, sys.stdin.readline().split()))
count = 0
for i in range(0,len(num),2):
    a,b = num[i], num[i+1]
    if (a-s)**2+(b-y)**2 <= r**2:
        count += 1
print(count)

7번

후위 표기법을 구현하는 연산이었다. 사칙 연산 기호들의 우선순위를 고려할 필요는 없어서 그냥 스택으로 편하게 구현이 가능했다.

In [ ]:
import sys
n = int(input())
calc = list(map(str, sys.stdin.readline().split()))
from collections import deque
stack = deque()
ans = int(calc.pop(0))
for k in calc:
    if k == '+':
        a = stack.pop()
        ans += a
    elif k == '-':
        a = stack.pop()
        ans -= a
    elif k == '/':
        a = stack.pop()
        ans = ans//a
    elif k == '*':
        a = stack.pop()
        ans *= a
    else:
        stack.append(int(k))
print(ans)

8번

In [ ]:
import sys
n = int(sys.stdin.readline())
weight = list(map(int, sys.stdin.readline().split()))
every_weight = sum(weight)
ans = 999999999
team_1, team_2 = 0,0
def dfs(v, add,ppl):
    global ans, team_1, team_2
    if v == n:
        if add != every_weight and -1 <= ppl-(n-ppl) <= 1: 
            if ans > abs(add-(every_weight-add)):
                ans = abs(add-(every_weight-add))
                team_1, team_2 = min(add, every_weight-add), max(add, every_weight-add)
        return
    dfs(v+1, add+weight[v],ppl+1)
    dfs(v+1, add,ppl)
dfs(1,0,0)
dfs(1,weight[0],1)
print(team_1, team_2)

9번

하노이의 탑문제였는데 저번에 풀 때에 개념을 정확하게 이해를 못 했었다면 이번에는 하노이의 탑과 더불어 재귀의 작동 원리에 대해 한층 더 깊게 이해할 수 있었다.

In [ ]:
import sys
n = int(sys.stdin.readline())
def hanoi(give, middle, get, n):
    if n == 0:
        return
    hanoi(give, get, middle, n-1)
    print('%s: %s -> %s' %(str(n), str(give), str(get)))
    hanoi(middle,give,get, n-1)
hanoi('A','B','C',n)